# Assignment 2
Group names

1. Cem Terakye 17069038
2. Furkan Dizginci 17061082
3. Muhittin Satır 18069606

In [52]:
import pandas as pd
import numpy as np

#### 1. Find the average price of cars for each years and return it as a dictionary like:

In [53]:
df = pd.read_excel("Assignment2Data.xlsx")
sol1 = df.groupby(["Year"]).mean()["Price"].to_dict()
sol1

{1970: 42500.0,
 1971: 5000.0,
 1972: 40000.0,
 1974: 33233.166666666664,
 1975: 60833.333333333336,
 1976: 48155.0,
 1977: 59900.0,
 1978: 15749.75,
 1979: 10316.666666666666,
 1980: 23863.333333333332,
 1981: 17250.0,
 1982: 9966.0,
 1983: 15358.333333333334,
 1984: 14968.625,
 1985: 25542.85714285714,
 1986: 86114.80952380953,
 1987: 23661.842105263157,
 1988: 16083.333333333334,
 1989: 27556.521739130436,
 1990: 35063.833333333336,
 1991: 23460.26388888889,
 1992: 18423.14864864865,
 1993: 14736.401869158879,
 1994: 22508.66129032258,
 1995: 29019.746987951807,
 1996: 45980.55371900826,
 1997: 38808.15,
 1998: 47752.07582938389,
 1999: 25783.895705521474,
 2000: 34503.56,
 2001: 32678.177272727273,
 2002: 47139.45054945055,
 2003: 52220.03398058253,
 2004: 43144.814385150814,
 2005: 51540.56300268097,
 2006: 63163.508676789585,
 2007: 89100.35530085959,
 2008: 90783.32765957447,
 2009: 98743.04702194357,
 2010: 117372.87422680412,
 2011: 130921.23860911271,
 2012: 169807.42779332618,
 2013: 199353.57472067038,
 2014: 173190.52985074627,
 2015: 218138.30225653207,
 2016: 238296.2506203474,
 2017: 621071.5096153846}

#### 2. Prices of some cars are missing. Find them and replace them with the average prices of the years they belong to. For example if the car is from 2015, then assign the average price of the cars in 2015

In [54]:
mask = df["Price"].isna()
df.loc[mask, 'Price'] = df.loc[mask, 'Year'].map({2004:sol1[2004], 2005:sol1[2005],
                                                 2012:sol1[2012],2008:sol1[2008],
                                                 1998:sol1[1998],2003:sol1[2003]})

#### 3. There are some repetitive rows, i.e. the same cars are given in different lines. If everything except the price is the same, then they are ads for the same car which means these rows are repetitive. Find and clear them. If two lines belong to the same car, then erase the data which has the larger price since it means that the car is not sold and the owner has reduced the price in a new ad to sell the car.

In [55]:
columns = df.columns.to_list()
columns.remove("Price")
df1 = df.sort_values("Price")
df1.drop_duplicates(subset = columns , keep = "first",inplace = True)    # I sorted data frame by prices so that we can get rid of higher prices with keeping first duplicates.

#### 4. Find the standard deviation of the prices of each brand. You can find the definition of the standard deviation from wikipedia or use the following formula where Xbar is the average of the data.

In [56]:
sol4 = df1.groupby(["Brand"]).std()["Price"].to_dict()
sol4

{'Alfa Romeo': 37002.3044742482,
 'Audi': 175566.73624429028,
 'BMW': 136870.89223991934,
 'Bentley': 609241.5690739418,
 'Chevrolet': 165712.42098807334,
 'Chrysler': 40920.14406538657,
 'Citroën': 18244.53187591773,
 'Dacia': 16941.26627868535,
 'Ferrari': 865219.624259258,
 'Fiat': 20426.701650528234,
 'Ford': 45378.430715472416,
 'Honda': 24652.80310015582,
 'Hyundai': 18594.471611478628,
 'Jaguar': 179634.9473061189,
 'Kia': 22987.553437597555,
 'Lada': 3689.3260356032847,
 'Lancia': 49732.50185815538,
 'Maserati': 237530.95745141635,
 'Mazda': 33849.29345737826,
 'Mercedes - Benz': 477143.59174871026,
 'Mini': 37933.19920237665,
 'Nissan': 242100.75513615427,
 'Opel': 21684.665649875613,
 'Peugeot': 19735.471425881602,
 'Porsche': 521514.6922331105,
 'Renault': 24779.972606418178,
 'Rover': 7451.345227249383,
 'Seat': 26851.57699693366,
 'Skoda': 39746.117141734125,
 'Smart': 10548.696601950403,
 'Subaru': 41070.009482826375,
 'Suzuki': 17343.853440815008,
 'Tata': 4726.45649780478,
 'Tofaş': 13955.86726267722,
 'Toyota': 20904.689790657525,
 'Volkswagen': 36863.00215661987,
 'Volvo': 48868.01167188844}

# 5. Find the average price of each city and return it as a dictionary like above.

In [57]:
sol5 = df1.groupby(["City"]).mean()["Price"].to_dict()
sol5

{'Adana': 68493.9263803681,
 'Adıyaman': 72804.76190476191,
 'Afyonkarahisar': 61468.0,
 'Aksaray': 59964.25,
 'Amasya': 49477.0,
 'Ankara': 87488.58665885111,
 'Antalya': 109238.6705882353,
 'Ardahan': 47875.0,
 'Artvin': 34460.0,
 'Aydın': 59367.434782608696,
 'Ağrı': 39166.5,
 'Balıkesir': 54883.39361702128,
 'Bartın': 74183.33333333333,
 'Batman': 72102.94117647059,
 'Bayburt': 65821.25,
 'Bilecik': 73911.11111111111,
 'Bingöl': 79200.0,
 'Bitlis': 26800.0,
 'Bolu': 56273.4375,
 'Burdur': 39130.5,
 'Bursa': 77510.22648083624,
 'Denizli': 66540.31847133758,
 'Diyarbakır': 111486.95652173914,
 'Düzce': 52372.846153846156,
 'Edirne': 55229.166666666664,
 'Elazığ': 54994.80487804878,
 'Erzincan': 59367.64705882353,
 'Erzurum': 70053.57790439378,
 'Eskişehir': 91988.81176470588,
 'Gaziantep': 110211.19672131147,
 'Giresun': 91271.66666666667,
 'Gümüşhane': 56833.333333333336,
 'Hakkari': 106500.0,
 'Hatay': 66825.24752475247,
 'Isparta': 65961.84210526316,
 'Iğdır': 44785.0,
 'Kahramanmaraş': 70820.95161290323,
 'Karabük': 69100.0,
 'Karaman': 68837.88,
 'Kars': 47050.0,
 'Kastamonu': 38612.794871794875,
 'Kayseri': 59268.51234567901,
 'Kilis': 100416.66666666667,
 'Kocaeli': 67072.02790697674,
 'Konya': 86670.28327645051,
 'Kütahya': 45102.27906976744,
 'Kırklareli': 74479.125,
 'Kırıkkale': 87373.80952380953,
 'Kırşehir': 61485.23529411765,
 'Malatya': 53728.82692307692,
 'Manisa': 47484.779411764706,
 'Mardin': 152837.5,
 'Mersin': 81338.84236075626,
 'Muğla': 65169.66292134832,
 'Muş': 67000.0,
 'Nevşehir': 77767.14285714286,
 'Niğde': 53497.5,
 'Ordu': 62468.055555555555,
 'Osmaniye': 63355.68571428571,
 'Rize': 53380.73809523809,
 'Sakarya': 71114.85148514851,
 'Samsun': 53470.06428571429,
 'Siirt': 76141.5,
 'Sinop': 48566.666666666664,
 'Sivas': 57411.91176470588,
 'Tekirdağ': 56041.65277777778,
 'Tokat': 61426.5625,
 'Trabzon': 73022.89156626505,
 'Tunceli': 70000.0,
 'Uşak': 49141.555555555555,
 'Van': 82588.3,
 'Yalova': 41800.0,
 'Yozgat': 48771.206896551725,
 'Zonguldak': 65716.78125,
 'Çanakkale': 76237.03703703704,
 'Çankırı': 65850.0,
 'Çorum': 60711.76470588235,
 'İstanbul': 219688.37319977654,
 'İzmir': 100400.96195652174,
 'Şanlıurfa': 88294.09090909091,
 'Şırnak': 47437.5}

# 6. Find the average price of each brand and return it as a dictionary like those above.

In [58]:
sol6 = df1.groupby(["Brand"]).mean()["Price"].to_dict()
sol6

{'Alfa Romeo': 49404.828571428574,
 'Audi': 144520.03628290875,
 'BMW': 144918.73577749683,
 'Bentley': 1261909.9285714286,
 'Chevrolet': 95717.44396551725,
 'Chrysler': 69058.80281690141,
 'Citroën': 46233.82352941176,
 'Dacia': 41848.311475409835,
 'Ferrari': 1377101.0384615385,
 'Fiat': 34400.17647058824,
 'Ford': 54385.04,
 'Honda': 49267.979508196724,
 'Hyundai': 39145.52097902098,
 'Jaguar': 203890.13888888888,
 'Kia': 48886.26737967914,
 'Lada': 10926.190476190477,
 'Lancia': 61243.75,
 'Maserati': 570366.3981481482,
 'Mazda': 43333.885496183204,
 'Mercedes - Benz': 205602.48239823984,
 'Mini': 74564.08181818182,
 'Nissan': 91274.89937106919,
 'Opel': 42462.00961538462,
 'Peugeot': 39049.96437659033,
 'Porsche': 723305.0309917355,
 'Renault': 40936.283911671926,
 'Rover': 21415.17391304348,
 'Seat': 54342.1316872428,
 'Skoda': 66958.83870967742,
 'Smart': 38250.0,
 'Subaru': 55495.24528301887,
 'Suzuki': 27696.058823529413,
 'Tata': 18319.23076923077,
 'Tofaş': 14413.639053254437,
 'Toyota': 47685.78787878788,
 'Volkswagen': 72494.49180966183,
 'Volvo': 71924.99632352941}

# 7. Find the average price of the Mercedes-Benz cars that has automatic transmission in İstanbul.

In [59]:
mask_df = df1[(df1["Brand"] == "Mercedes - Benz") & (df1["Tranmission"] == "Otomatik") & (df1["City"] == "İstanbul")]
avg_price = mask_df["Price"].mean()
avg_price

312447.88144329895

# 8. Find the number of cars whose price is less than 100K TL, between 100K(exclusive) and 200k (inclusive)  and larger than 200k(exclusive). (K means thousand.) The output should be dictionary like this:

In [60]:
first = df1[(df1["Price"]>=0) & (df1["Price"]<100000)].shape[0]
second = df1[(df1["Price"]>=100000) & (df1["Price"]<200000)].shape[0]
third = df1[(df1["Price"]>=200000)].shape[0]
dictionary = dict()
dictionary["0-100"] = first
dictionary["100-200"] = second
dictionary["200 and over"] = third
dictionary

{'0-100': 6181, '100-200': 1232, '200 and over': 895}

# 9. Write a function which generates the above lists automatically. That is, write a function which calculates the number of cars for a given list of prices. For example, for the above question, the input will be [100,200]. If you given [50, 100, 150, 200, 250], then the function will return a dictionary like this:

In [1]:
#Çözemedik.

# 10. Find the number of cars that has an automatic transmission whose price is less than 100K TL, between 100K(exclusive) and 200k (inclusive)  and larger than 200k(exclusive). (K means thousand.) Again, the output should be dictionary.

In [61]:
df2 = df1[df1["Tranmission"] == "Otomatik"]
first = df2[(df2["Price"]>=0) & (df2["Price"]<100000)].shape[0]
second = df2[(df2["Price"]>=100000) & (df2["Price"]<200000)].shape[0]
third = df2[(df2["Price"]>=200000)].shape[0]
dictionary = dict()
dictionary["0-100"] = first
dictionary["100-200"] = second
dictionary["200 and over"] = third
dictionary

{'0-100': 919, '100-200': 208, '200 and over': 340}

# 11.  For every brand, find the difference for the average prices of automatic transmission and manual transmission and return it as a dictionary.

In [62]:
dictionary = dict()
brand_list = df1["Brand"].unique()
for i in brand_list:
    mean_otomatik = df1[(df1["Brand"] == i) & (df1["Tranmission"] == "Otomatik")]["Price"].mean()
    mean_manuel = df1[(df1["Brand"] == i) & (df1["Tranmission"] == "Manuel")]["Price"].mean()
    fark = mean_otomatik - mean_manuel
    dictionary[i] = fark
dictionary

{'Toyota': -5249.250398724078,
 'Renault': 10776.616571428574,
 'Tofaş': nan,
 'Lada': nan,
 'Mercedes - Benz': 187574.9813746439,
 'Rover': 14640.5,
 'Peugeot': 15391.659648361194,
 'Suzuki': 9210.193779904308,
 'Ford': 14589.256944444445,
 'Opel': 21115.19720382634,
 'Mazda': 40613.57757885763,
 'Skoda': 45389.46064942212,
 'Volvo': 13544.894697812386,
 'Subaru': -21222.475,
 'Fiat': 16245.912903225806,
 'Kia': 26238.46752893125,
 'Seat': 24065.064671814667,
 'Nissan': 179088.06844597505,
 'Hyundai': 18558.901361796103,
 'Honda': 4754.658455181176,
 'Volkswagen': 17573.207945611102,
 'Tata': nan,
 'Alfa Romeo': 61746.05263157895,
 'BMW': 126054.5900297619,
 'Chrysler': 45766.24396135265,
 'Dacia': nan,
 'Citroën': 28825.0,
 'Audi': 193193.29770444764,
 'Chevrolet': 116794.31682496608,
 'Mini': 12906.159090909096,
 'Smart': nan,
 'Jaguar': 102530.26666666666,
 'Lancia': 145062.5,
 'Porsche': 540567.8792517006,
 'Maserati': 399772.1875,
 'Ferrari': 320501.5,
 'Bentley': nan}

# 12.  Create a new dataframe which is ordered in terms of the prices of the cars.

In [63]:
df2 = df1.sort_values(by =  "Price",ascending = False)
df2

,City,District,Price,Brand,Series,Model,Year,Fuel,Tranmission,Km,Chasis,Power,Engine,Drive,Color,From
717,İstanbul,Kadıköy,10215000.0,Mercedes - Benz,Maybach S,S 600,2016,Benzin,Yarı Otomatik,0,Sedan,530,5980,Back,Kahverengi,Dealer
458,İstanbul,Kadıköy,5107500.0,Mercedes - Benz,S,S 600 600 L,2016,Benzin,Yarı Otomatik,0,Sedan,530,5980,Back,Siyah,Dealer
95,İstanbul,Sarıyer,4568700.0,Ferrari,F Serisi,F12 Berlinetta,2015,Benzin,Otomatik,0,Coupe,601,6001,Back,Lacivert,Dealer
1920,İstanbul,Beşiktaş,4351000.0,Mercedes - Benz,Maybach S,S 600,2017,Benzin,Otomatik,0,Sedan,526,6001,4WD,Siyah,Dealer
4466,İstanbul,Şişli,3763290.0,Ferrari,488,Spider,2017,Benzin,Otomatik,195,Cabrio,601,3501,Back,Füme,Dealer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2436,Ankara,Mamak,5000.0,Mercedes - Benz,230,230.6,1971,Benzin & LPG,Manuel,10000,Sedan,120,2300,Back,Bej,Owner
580,Ankara,Çankaya,4950.0,Lada,Samara,1.5,1993,Benzin & LPG,Manuel,17989,Hatchback 5 kapı,68,1499,Forward,Beyaz,Dealer
9035,Kütahya,Merkez,3999.0,Tofaş,Şahin,Şahin 5 vites,1992,Benzin & LPG,Manuel,105000,Sedan,80,1581,Back,Beyaz,Dealer
3863,Rize,Fındıklı,3250.0,Renault,R 12,GTS,1983,Benzin,Manuel,110,Sedan,72,1397,Forward,Sarı,Dealer
4144,İstanbul,Ümraniye,2850.0,Toyota,Corona,1.6 XL,1985,Benzin & LPG,Manuel,200000,Sedan,76,1601,Forward,Bordo,Dealer

# 13.  Create a new dataframe which is ordered in terms of the cities first and then prices of the cars.

In [67]:
df3 = df1.sort_values(by = ["City","Price"])
df3

,City,District,Price,Brand,Series,Model,Year,Fuel,Tranmission,Km,Chasis,Power,Engine,Drive,Color,From
9365,Adana,Yüreğir,8500.0,Tofaş,Serçe,Serçe,1994,Benzin & LPG,Manuel,100000,Sedan,65,1239,Back,Beyaz,Owner
5124,Adana,Seyhan,9900.0,Mazda,626,1.6,1991,Benzin & LPG,Manuel,370000,Sedan,76,1401,Forward,Lacivert,Dealer
9254,Adana,Seyhan,12500.0,Tata,Indica,1.4 TDI Comfort,2006,Dizel,Manuel,185000,Hatchback 5 kapı,70,1405,Forward,Gri,Owner
2284,Adana,Seyhan,12500.0,Tofaş,Murat,124,1975,Benzin & LPG,Manuel,150000,Sedan,51,1201,Back,Mavi,Dealer
298,Adana,Çukurova,12500.0,Toyota,Corona,2.0 XL,1991,Benzin & LPG,Manuel,265000,Sedan,126,1801,Forward,Beyaz,Owner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3706,Şanlıurfa,Haliliye,455000.0,Mercedes - Benz,E,E 220 d Exclusive,2017,Dizel,Otomatik,17000,Sedan,194,1950,4WD,Siyah,Dealer
8962,Şırnak,Cizre,25750.0,Hyundai,Getz,1.3 GLS,2006,Benzin & LPG,Manuel,123000,Hatchback 5 kapı,76,1201,Forward,Mavi,Owner
3151,Şırnak,Cizre,37500.0,Toyota,Corolla,1.6 Terra Special,2005,Benzin & LPG,Manuel,209000,Sedan,76,1401,Forward,Gümüş Gri,Owner
9091,Şırnak,Merkez,54000.0,Ford,Fiesta,1.25 Trend X,2016,Benzin,Manuel,20000,Hatchback 5 kapı,82,1242,Forward,Beyaz,Owner
3583,Şırnak,Cizre,72500.0,Ford,Focus,1.6 Ti-VCT Trend X,2016,Benzin,Yarı Otomatik,16500,Sedan,101,1401,Forward,Beyaz,Owner

# 14.  Divide the price of the cars by its power (Cost/power) and add it as a new column to the datafame.

In [71]:
df1["Cost/power"] = df1["Price"] / df1["Power"]
df1["Cost/power"]

4144       37.500000
3863       45.138889
9035       49.987500
580        72.794118
8198       98.039216
            ...
4466     6261.713810
1920     8271.863118
95       7601.830283
458      9636.792453
717     19273.584906
Name: Cost/power, Length: 8308, dtype: float64

# 15.  How many different series each brand have? The output should be a dictionary like above.

In [83]:
dfx = df[["Brand","Series"]]
brands = dfx["Brand"].unique()
dictionary = dict()
for i in brands:
    dictionary[i] =  len(dfx[dfx["Brand"] == i]["Series"].unique())
dictionary

{'Peugeot': 18,
 'BMW': 13,
 'Tofaş': 5,
 'Rover': 9,
 'Mercedes - Benz': 26,
 'Audi': 12,
 'Toyota': 12,
 'Bentley': 3,
 'Opel': 12,
 'Porsche': 6,
 'Chevrolet': 12,
 'Mazda': 10,
 'Fiat': 16,
 'Mini': 5,
 'Subaru': 6,
 'Maserati': 5,
 'Seat': 8,
 'Ford': 13,
 'Hyundai': 19,
 'Renault': 17,
 'Volvo': 20,
 'Volkswagen': 17,
 'Ferrari': 9,
 'Jaguar': 13,
 'Chrysler': 9,
 'Lada': 4,
 'Suzuki': 8,
 'Skoda': 10,
 'Kia': 14,
 'Alfa Romeo': 10,
 'Honda': 9,
 'Nissan': 13,
 'Citroën': 11,
 'Dacia': 4,
 'Smart': 2,
 'Tata': 4,
 'Lancia': 3}

# 16. Write a function called analyze_car_data that has at least two parameters as follows:

In [87]:
def analyze_car_data(x,y,df):
    dfx = df[[x,y]]
    özellik = dfx[y].unique()
    dictionary = dict()
    for i in özellik:
        dictionary[i] =  dfx[dfx[y] == i][x].mean()
    return dictionary
analyze_car_data("Price","City",df1)

{'İstanbul': 219688.37319977654,
 'Rize': 53380.73809523809,
 'Kütahya': 45102.27906976744,
 'Ankara': 87488.58665885111,
 'Kastamonu': 38612.794871794875,
 'Denizli': 66540.31847133758,
 'Çankırı': 65850.0,
 'Niğde': 53497.5,
 'Tekirdağ': 56041.65277777778,
 'Manisa': 47484.779411764706,
 'Bursa': 77510.22648083624,
 'İzmir': 100400.96195652174,
 'Nevşehir': 77767.14285714286,
 'Sivas': 57411.91176470588,
 'Mersin': 81338.84236075626,
 'Aydın': 59367.434782608696,
 'Samsun': 53470.06428571429,
 'Aksaray': 59964.25,
 'Edirne': 55229.166666666664,
 'Artvin': 34460.0,
 'Antalya': 109238.6705882353,
 'Burdur': 39130.5,
 'Konya': 86670.28327645051,
 'Eskişehir': 91988.81176470588,
 'Kayseri': 59268.51234567901,
 'Bartın': 74183.33333333333,
 'Tokat': 61426.5625,
 'Van': 82588.3,
 'Adana': 68493.9263803681,
 'Osmaniye': 63355.68571428571,
 'Trabzon': 73022.89156626505,
 'Karabük': 69100.0,
 'Balıkesir': 54883.39361702128,
 'Sakarya': 71114.85148514851,
 'Kocaeli': 67072.02790697674,
 'Çorum': 60711.76470588235,
 'Kırklareli': 74479.125,
 'Isparta': 65961.84210526316,
 'Zonguldak': 65716.78125,
 'Erzurum': 70053.57790439378,
 'Ordu': 62468.055555555555,
 'Muğla': 65169.66292134832,
 'Amasya': 49477.0,
 'Kahramanmaraş': 70820.95161290323,
 'Erzincan': 59367.64705882353,
 'Gaziantep': 110211.19672131147,
 'Giresun': 91271.66666666667,
 'Düzce': 52372.846153846156,
 'Şanlıurfa': 88294.09090909091,
 'Bolu': 56273.4375,
 'Malatya': 53728.82692307692,
 'Elazığ': 54994.80487804878,
 'Hatay': 66825.24752475247,
 'Çanakkale': 76237.03703703704,
 'Kırşehir': 61485.23529411765,
 'Yalova': 41800.0,
 'Bitlis': 26800.0,
 'Adıyaman': 72804.76190476191,
 'Afyonkarahisar': 61468.0,
 'Gümüşhane': 56833.333333333336,
 'Yozgat': 48771.206896551725,
 'Kars': 47050.0,
 'Bilecik': 73911.11111111111,
 'Uşak': 49141.555555555555,
 'Kırıkkale': 87373.80952380953,
 'Karaman': 68837.88,
 'Diyarbakır': 111486.95652173914,
 'Ağrı': 39166.5,
 'Sinop': 48566.666666666664,
 'Batman': 72102.94117647059,
 'Iğdır': 44785.0,
 'Şırnak': 47437.5,
 'Siirt': 76141.5,
 'Kilis': 100416.66666666667,
 'Bingöl': 79200.0,
 'Bayburt': 65821.25,
 'Mardin': 152837.5,
 'Ardahan': 47875.0,
 'Tunceli': 70000.0,
 'Muş': 67000.0,
 'Hakkari': 106500.0}

In [88]:
analyze_car_data("Power","Brand",df1)

{'Toyota': 98.76363636363637,
 'Renault': 89.3596214511041,
 'Tofaş': 75.81065088757397,
 'Lada': 70.0952380952381,
 'Mercedes - Benz': 182.4048404840484,
 'Rover': 124.21739130434783,
 'Peugeot': 96.85241730279898,
 'Suzuki': 76.52941176470588,
 'Ford': 106.43466666666667,
 'Opel': 103.02884615384616,
 'Mazda': 119.29007633587786,
 'Skoda': 97.93225806451613,
 'Volvo': 146.21323529411765,
 'Subaru': 177.35849056603774,
 'Fiat': 83.39009287925697,
 'Kia': 108.55614973262033,
 'Seat': 102.81893004115226,
 'Nissan': 118.12578616352201,
 'Hyundai': 100.50699300699301,
 'Honda': 113.20491803278688,
 'Volkswagen': 113.68518518518519,
 'Tata': 65.38461538461539,
 'Alfa Romeo': 128.74285714285713,
 'BMW': 181.21871049304679,
 'Chrysler': 199.5211267605634,
 'Dacia': 78.77049180327869,
 'Citroën': 98.5,
 'Audi': 169.0877458396369,
 'Chevrolet': 143.22844827586206,
 'Mini': 134.3909090909091,
 'Smart': 58.5,
 'Jaguar': 222.0,
 'Lancia': 114.375,
 'Porsche': 352.6322314049587,
 'Maserati': 364.25925925925924,
 'Ferrari': 507.53846153846155,
 'Bentley': 556.2}